@import "../config/fonts";
@import "../config/spacing";

@import "../functions/color";

@import "../helpers/typography";

@import "repetitivo/helpers/respond-to";
@import "repetitivo/helpers/styles-from-map";

//
// Component: Content Head
// =============================================================================
$component-name: "ContentHead";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include styles-from-map((
    margin-top: $spacing-kilo-gentle,
    margin-bottom: $spacing-kilo-gentle,
  ));
  text-align: center;

  // Element: Heading
  // ---------------------------------------------------------------------------
  &-heading {
    @include typography($inter, mega-steep, tight);
    font-weight: $black-font-weight;
  }

  // Element: Lead
  // ---------------------------------------------------------------------------
  &-lead {
    @include styles-from-map((
      margin-top: $spacing-base-gentle,
    ));

    @include typography($inter, base-gentle, normal);
  }
}
