@import "../config/fonts";
@import "../config/spacing";

@import "../functions/color";

@import "../helpers/typography";

@import "repetitivo/helpers/respond-to";
@import "repetitivo/helpers/styles-from-map";

@import "repetitivo/patterns/list";

//
// Component: Footer
// =============================================================================
$component-name: "Footer";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include styles-from-map((
    padding-top: $spacing-hecto-steep,
    padding-bottom: $spacing-hecto-steep,
  ));
  @include typography($inter, milli-gentle, normal);
  color: #5F5F5F;

  // Element: Inner
  // ---------------------------------------------------------------------------
  &-inner {
  }

  // Element: Nav
  // ---------------------------------------------------------------------------
  &-nav {
    @include list-reset;
    @include typography($inter, deci-gentle, normal);
    font-weight: bold;
    text-align: center;

    @include respond-to(m) {
      margin-bottom: -1em;
    }
  }

  // Element: Nav Item
  // ---------------------------------------------------------------------------
  &-navItem {
    margin-bottom: 1em;

    @include respond-to(m) {
      display: inline-block;
      margin-right: 2em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  // Element: Nav Link
  // ---------------------------------------------------------------------------
  &-navLink {
  }

  // Element: Logotype
  // ---------------------------------------------------------------------------
  &-logotype {
    margin-left: auto;
    margin-right: auto;
    @include styles-from-map((
      margin-top: $spacing-hecto-steep,
      margin-bottom: $spacing-deci-gentle,
    ));
  }

  // Element: Info
  // ---------------------------------------------------------------------------
  &-info {
    text-align: center;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}
