@import "../config/fonts";
@import "../config/spacing";

@import "../functions/color";

@import "../helpers/typography";

@import "repetitivo/helpers/respond-to";
@import "repetitivo/helpers/styles-from-map";

@import "repetitivo/patterns/list";

//
// Component: Main Nav
// =============================================================================
$component-name: "MainNav";
$component-base: ".#{$component-name}";

#{$component-base} {
  color: color(pink, 0);

  // Element: List
  // ---------------------------------------------------------------------------
  &-list {
    @include typography($inter, hecto-steep, tight);
    @include list-reset;
    font-weight: $black-font-weight;
    @include styles-from-map((
      margin-top: $spacing-centi-gentle-neg,
      margin-bottom: $spacing-centi-gentle-neg,
    ));

    &:last-child {
      @include styles-from-map((
        margin-bottom: $spacing-centi-gentle-neg,
      ));
    }
  }

  // Element: Item
  // ---------------------------------------------------------------------------
  &-item {

  }

  // Element: Link
  // ---------------------------------------------------------------------------
  &-link {
    display: block;
    color: #fff;
    text-decoration: none;
    @include styles-from-map((
      padding-top: $spacing-centi-gentle,
      padding-bottom: $spacing-centi-gentle,
    ));

    &:hover {
      color: #fff;
      text-decoration: underline;
    }

    &.is-current {

    }
  }
}
