@import "../helpers/typography";

//
// Component: Media
// =============================================================================
$component-name: "Media";
$component-base: ".#{$component-name}";

$media-media-offset: (
  default: -7.1%,
  s: calc(-5% + -13px),
  m: calc(-18.3% + -13px),
  ml: calc(-21.9% + -16px),
  l: calc(-26.3% + -16px),
);

#{$component-base} {
  margin: 0;

  // Variant: In content
  // ---------------------------------------------------------------------------
  &--inContent {
    @include styles-from-map((
      margin-top: $spacing-hecto-gentle,
      margin-bottom: $spacing-hecto-gentle,
    ));

    &:first-child {
      margin-top: 0;
    }
  }

  // Variant: Offset
  // ---------------------------------------------------------------------------
  &--offset {

    // Element: Media Wrapper
    // ---------------------------------------------------------------------------
    #{$component-base}-mediaWrapper {
      @include styles-from-map((
        margin-left: $media-media-offset,
        margin-right: $media-media-offset,
      ));
    }
  }

  // Element: Media Wrapper
  // ---------------------------------------------------------------------------
  &-mediaWrapper {

    // Variant: Bordered
    // ---------------------------------------------------------------------------
    #{$component-base}--bordered & {
      border: 4px solid #fff;
    }
  }

  // Element: Media
  // ---------------------------------------------------------------------------
  &-media {
    display: block;

    width: 100%;
  }

  // Element: Caption
  // ---------------------------------------------------------------------------
  &-caption {
    @include typography($inter, centi-gentle, tight);
    @include styles-from-map((
      margin-top: $spacing-centi-gentle,
    ));
  }
}
