//
// Component: Page
// =============================================================================
$component-name: "Page";
$component-base: ".#{$component-name}";

#{$component-base} {
  .main-navigation-is-open & {
    display: none;
  }

  &--inverted {
    #{$component-base}-content {
      background: #003D52;
      @include styles-from-map((
        padding-bottom: $spacing-giga-gentle,
      ));
    }
  }
}
