@import "../config/fonts";
@import "../config/spacing";

@import "../helpers/typography";

@import "repetitivo/helpers/styles-from-map";

//
// Component: Section Heading
// =============================================================================
$component-name: "SectionHeading";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include typography($inter, mega-steep, tight);
  @include styles-from-map((
    margin-bottom: $spacing-base-gentle,
  ));

  font-weight: $black-font-weight;

  br {
    display: none;

    @include respond-to(ml) {
      display: inline;
    }
  }

  // Variant: Inverted
  // ---------------------------------------------------------------------------
  &--inverted {
    color: color(white);
    text-shadow: 0 0 8px rgba(0,0,0,.1);
  }

  // Variant: Centered
  // ---------------------------------------------------------------------------
  &--centered {
    text-align: center;
  }

  // Variant: Hecto
  // ---------------------------------------------------------------------------
  &--hecto {
    @include typography($inter, hecto-steep, normal);
    @include styles-from-map((
      margin-bottom: $spacing-centi-gentle,
    ));
  }

  // Variant: Deca
  // ---------------------------------------------------------------------------
  &--deca {
    @include typography($inter, deca-steep, normal);
    @include styles-from-map((
      margin-bottom: $spacing-centi-gentle,
    ));
  }

  // Element: Toned Down
  &-tonedDown {
    font-weight: normal;
  }

  // Element: Label
  &-label {
    @include typography($inter, deci-gentle, normal);
    text-transform: uppercase;
    font-weight: $black-font-weight;
    @include styles-from-map((
      margin-bottom: $spacing-pico-gentle,
    ));
    color: #003D52;
  }
}
