@import "../config/fonts";
@import "../config/spacing";

@import "../helpers/typography";

@import "repetitivo/helpers/styles-from-map";

//
// Component: Section Heading
// =============================================================================
$component-name: "SectionHeading";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include typography($inter, mega-steep, tight);
  @include styles-from-map((
    margin-bottom: $spacing-base-gentle,
  ));

  font-weight: $black-font-weight;

  // Variant: Inverted
  // ---------------------------------------------------------------------------
  &--inverted {
    color: color(white);
  }

  // Variant: Centered
  // ---------------------------------------------------------------------------
  &--centered {
    text-align: center;
  }

  // Variant: Tight
  // ---------------------------------------------------------------------------
  &--tight {
    @include styles-from-map((
      margin-bottom: $spacing-centi-gentle,
    ));
  }

  // Variant: Hecto
  // ---------------------------------------------------------------------------
  &--hecto {
    @include typography($inter, hecto-steep, tight);
  }

  // Variant: Deca
  // ---------------------------------------------------------------------------
  &--deca {
    @include typography($inter, deca-steep, tight);
    @include styles-from-map((
      margin-bottom: $spacing-centi-gentle,
    ));
  }

  // Element: Toned Down
  &-tonedDown {
    font-weight: normal;
  }
}
