@import "../config/fonts";
@import "../config/spacing";

@import "../helpers/typography";

@import "repetitivo/helpers/styles-from-map";

//
// Component: Section CTA
// =============================================================================
$component-name: "SectionCta";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include styles-from-map((
    margin-top: $spacing-deca-gentle,
  ));

  // Variant: Centered
  // ---------------------------------------------------------------------------
  &--centered {
    text-align: center;
  }

  // Variant: Inverted
  // ---------------------------------------------------------------------------
  &--inverted {
    .SectionCta-link {
      color: color(white);
    }
  }

  // Variant: Tight
  // ---------------------------------------------------------------------------
  &--tight {
    @include styles-from-map((
      margin-top: $spacing-centi-gentle,
    ));
  }

  // Variant: Base
  // ---------------------------------------------------------------------------
  &--base {
    @include typography($inter, base-gentle, loose);
  }
}
