@import "../config/fonts";
@import "../config/spacing";

@import "../helpers/typography";

@import "repetitivo/helpers/styles-from-map";

//
// Component: Section Lead
// =============================================================================
$component-name: "SectionLead";
$component-base: ".#{$component-name}";

#{$component-base} {
  @include typography($inter, base-gentle, loose);

  // Variant: Centered
  // ---------------------------------------------------------------------------
  &--centered {
    text-align: center;
  }

  // Variant: Inverted
  // ---------------------------------------------------------------------------
  &--inverted {
    color: color(white);
  }

  // Variant: Base
  // ---------------------------------------------------------------------------
  &--deci {
    @include typography($inter, deci-gentle, loose);
  }
}
