@import "../config/fonts";
@import "../config/spacing";

@import "../helpers/typography";

//
// Component: Text
// =============================================================================
$component-name: "Text";
$component-base: ".#{$component-name}";

#{$component-base} {
  > h2 {
    @include styles-from-map((
      margin-top: $spacing-deca-gentle,
      margin-bottom: $spacing-milli-gentle,
    ));
    @include typography($inter, hecto-gentle, normal);
    font-weight: $black-font-weight;

    &:first-child {
      margin-top: 0;
    }
  }

  > h3 {
    @include styles-from-map((
      margin-top: $spacing-deca-gentle,
      margin-bottom: $spacing-micro-gentle,
    ));
    @include typography($inter, deca-gentle, normal);
    font-weight: $black-font-weight;
  }

  > h4,
  > h5,
  > h6 {
    @include typography($inter, base-gentle, normal);
    @include styles-from-map((
      margin-top: $spacing-deca-gentle,
      margin-bottom: $spacing-micro-gentle,
    ));
  }

  li {
    @include styles-from-map((
      margin-bottom: $spacing-milli-gentle,
    ));

    &:last-child {
      margin-bottom: 0;
    }
  }
}
