@import "../helpers/typography";
@import "../config/spacing";
@import "repetitivo/helpers/styles-from-map";

//
// Component: Video
// =============================================================================
$component-name: "Video";
$component-base: ".#{$component-name}";

#{$component-base} {
  // Element: Media
  // ---------------------------------------------------------------------------
  &-media {
    #{$component-base}--large & {
      @include styles-from-map((
        margin-bottom: $spacing-base-gentle,
      ));
    }
  }

  // Element: Heading
  // ---------------------------------------------------------------------------
  &-heading {
    @include typography($inter, deca-steep, normal);
    font-weight: $black-font-weight;

    #{$component-base}--large & {
      @include typography($inter, kilo-steep, tight);
    }

    #{$component-base}--inverted & {
      color: color(white);
    }
  }

  // Element: Heading Link
  // ---------------------------------------------------------------------------
  &-headingLink {
    #{$component-base}--inverted & {
      color: color(white);
    }
  }

  // Element: Description
  // ---------------------------------------------------------------------------
  &-description {
    @include typography($inter, deci-gentle, loose);
    @include styles-from-map((
      margin-top: $spacing-micro-gentle,
    ));

    #{$component-base}--large & {
      @include typography($inter, base-gentle, loose);
      @include styles-from-map((
        margin-top: $spacing-milli-gentle,
      ));
    }

    #{$component-base}--inverted & {
      color: color(white);
    }
  }

  // Variant: Inverted
  // ---------------------------------------------------------------------------
  &--inverted {
  }

  // Variant: Large
  // ---------------------------------------------------------------------------
  &--large {
    @include styles-from-map((
      margin-bottom: $spacing-kilo-gentle,
    ));
  }
}
