<footer class="Footer">
  <div class="Wrapper">
    <div class="Footer-inner">
      <ul class="Footer-nav">
        <li class="Footer-navItem"><a href="{% link _articles/videokonferens-sa-ser-du-bra-ut-pa-avstand.md %}" class="Footer-navLink">Videokonferens</a></li>
      </ul>

      <div class="Footer-logotype">
        <a href="https://www.atea.se/eshop/" class="Logotype Logotype--footer">{% include logotype-atea.svg %}</a>
      </div>

      <div class="Footer-info">
        <p>Atea är den ledande leverantören av it-infrastruktur i Norden och Baltikum, och drivande inom informationsteknologi på den svenska marknaden.</p>
      </div>
    </div>
  </div>
</footer>
