<footer class="Footer">
  <div class="Wrapper">
    <div class="Footer-inner">
      <ul class="Footer-nav">
        <li class="Footer-navItem"><a href="/" class="Footer-navLink">HP</a></li>
        <li class="Footer-navItem"><a href="{% link microsoft-surface.html %}" class="Footer-navLink">Microsoft Surface</a></li>
        <li class="Footer-navItem"><a href="{% link konferenskameror.html %}" class="Footer-navLink">Konferenskameror</a></li>
        <li class="Footer-navItem"><a href="{% link ergonomi.html %}" class="Footer-navLink">Ergonomi</a></li>
        <li class="Footer-navItem"><a href="{% link sakerhet.html %}" class="Footer-navLink">Säkerhet</a></li>
        <li class="Footer-navItem"><a href="{% link lenovo.html %}" class="Footer-navLink">Lenovo</a></li>
        <li class="Footer-navItem"><a href="{% link logitech.html %}" class="Footer-navLink">Logitech</a></li>
        <li class="Footer-navItem"><a href="{% link hthi.html %}" class="Footer-navLink">How to handle it</a></li>
      </ul>

      <div class="Footer-logotype">
        <a href="https://www.atea.se/eshop/" class="Logotype Logotype--footer">{% include logotype-atea.svg %}</a>
      </div>

      <div class="Footer-info">
        {% include footer_info.html %}
      </div>
    </div>
  </div>
</footer>
