<div class="NewsletterSignup NewsletterSignup--footer">
  <div class="Wrapper">
    <div class="Grid Grid--padded Grid--verticalCenter Grid--compensatePadded">
      <div class="Grid-item Grid-item-m--12-of-24">
        <div class="NewsletterSignup-text">
          Fantastiska produkter och praktiska tips.<br> <strong class="u-textBlack">I din inkorg, varje vecka.</strong>
        </div>
      </div>
      <div class="Grid-item Grid-item-m--12-of-24">
        <div class="NewsletterSignup-cta">
          <a href="https://www.atea.se/it-produkter/#module-1" class="Button Button--solid">Prenumerera nu</a>
        </div>
      </div>
    </div>
  </div>
</div>