@import "../fonts";

$font-inter: (
  (
    family: "Inter",
    files: (
      "/fonts/Inter-Regular.woff2",
    ),
    weight: $normal-font-weight,
    style: normal,
  ),
  (
    family: "Inter",
    files: (
      "/fonts/Inter-Bold.woff2",
    ),
    weight: $bold-font-weight,
    style: normal,
  ),
  (
    family: "Inter",
    files: (
      "/fonts/Inter-Black.woff2",
    ),
    weight: $black-font-weight,
    style: normal,
  ),
);
