@import "../config/fonts";
@import "../config/typography";

@import "../patterns/focus";

p,
ul,
ol,
dl,
blockquote {
  margin-top: 0;
  margin-bottom: $base-text-margin-bottom;

  &:last-child {
    margin-bottom: 0;
  }
}

b,
strong {
  font-weight: $bold-font-weight;
}

a {
  text-decoration: underline;
  color: #5F5F5F;

  &:focus {
    @include focus-link-and-button;
  }

  &:hover {
    text-decoration: none;
  }
}
